@media (min-width: 1500px) and (max-width: 2000px) {

  .AvatarText{
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 1px;
    text-align: center;

  }
  
  .TranslatorMood,.DevloperMood{
    color: #FFFFFF;
    background: #333333;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    width: 150px;
    padding: 23px  ;
    text-align: center;
    cursor: pointer;
    transition: all 1.3s;
    border-radius: 20%;
  
  }

  
  .TranslatorMood a,.DevloperMood a{
    color: #FFFFFF;
    transition: all 1.3s;
  }
  
  .TranslatorMood{
    transform: translateY(-180px) translateX(-70px);
    animation: slideInUp1 1s both;
  
  }
  .DevloperMood{
    transform: translateY(-120px) translateX(90px);
    animation: slideInUp2 1s both;
  }
  
  .TranslatorMood a:hover,.DevloperMood a:hover{
    color: #F00;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00, -2px -3px 20px #CE5937;}
  
    @keyframes slideInUp1 {
      0% {
      transform: translateY(100%);
      visibility: visible;
      }
      100% {
        transform: translateY(-200px) translateX(-180px);
      }
      } 
      @keyframes slideInUp2 {
        0% {
        transform: translateY(100%);
        visibility: visible;
        }
        100% {
          transform: translateY(-200px) translateX(180px);
        }
        } 
        
}